/*
    self-paced reading task
    ---
    sentence and underlines
*/
.magpie-spr-sentence {
    display: block;
    line-height: 40px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
/* .magpie-spr-sentence .spr-word { */
/*     display: inline; */
/* } */
/* .magpie-spr-sentence .spr-word:after { */
/*     background: #003; */
/*     content: ""; */
/*     display: inline; */
/*     height: 2px; */
/*     visibility: visible; */
/*     width: 100%; */
/*     position: absolute; */
/*     bottom: -3px; */
/*     left: 0; */
/* } */
/* .magpie-spr-sentence .spr-word-hidden  { */
/*     visibility: hidden; */
/* } */
/* .magpie-spr-sentence .one-line { */
/*     margin: 0 0; */
/* } */
/* .magpie-spr-sentence .spr-word.no-line:after { */
/*     visibility: hidden; */
/* } */

/* .magpie-view-stimulus-container { */
/*     height: auto; */
/*     max-height: 150px; */
/* } */
